• apiVersion: | apiVersion                   | Resources                                                                                                              |  # Tells K8s which API version of resource to use for this file or object that we creating / Already present in system.
              | ---------------------------- | ---------------------------------------------------------------------------------------------------------------------- |
              | v1                           | Pod, Service, ConfigMap, Secret, Namespace, PersistentVolume, PersistentVolumeClaim, ServiceAccount, Endpoints, Node, Event, LimitRange, ResourceQuota |
              | apps/v1                      | Deployment, ReplicaSet, StatefulSet, DaemonSet                                                                         |
              | batch/v1                     | Job, CronJob                                                                                                           |
              | networking.k8s.io/v1         | Ingress, NetworkPolicy, IngressClass                                                                                   |
              | autoscaling/v2               | HorizontalPodAutoscaler                                                                                                |
              | rbac.authorization.k8s.io/v1 | Role, ClusterRole, RoleBinding, ClusterRoleBinding                                                                     |
              | storage.k8s.io/v1            | StorageClass, VolumeAttachment                                                                                         |
              | policy/v1                    | PodDisruptionBudget                                                                                                    |
              | apiextensions.k8s.io/v1      | CustomResourceDefinition                                                                                               |

• kind: Pod/ Deployment/ ReplicaSet/ StatefulSet/ DaemonSet/ Service/ Ingress/ ConfigMap/ Secret/ PersistentVolume/ PersistentVolumeClaim/ Namespace/ Job/ CronJob/ HorizontalPodAutoscaler/ # This is a Name of resource that we want to create in file or object/ Already present in system.   
                
• metadata:   # This is the identifier of the file or resource that we are creating)
     name: {Unique name for the resource}                                                       # Unique resource name (DNS compatible) / The new official name of your resource. (lowercase only, no spaces, no special characters, use - instead of space)
     namespace: {Namespace that already created for where this file should deploy}              # Namespace (default, kube-system, custom) / Helps separate environments. (If you don’t write namespace → Kubernetes puts it in default Namespace)
     labels:                          # Labels are tags used to GROUP and SELECT objects. (if label have many keys mention then selector do not compulsory have match the same, only lable app:___ should same in selector))  
          app: nginx  
          tier:         
          env:
                                      # Examples of lable Keys and values 
                                         Category            | Label Key                        | Example Values
                                         --------------------|----------------------------------|------------------------------
                                         Application         | app                              | frontend, backend, database, nginx
                                         Application (Std)   | app.kubernetes.io/name           | nginx, payment-service
                                         Instance            | app.kubernetes.io/instance       | nginx-prod, api-v2
                                         Component           | tier                             | frontend, backend, cache
                                         Component (Std)     | app.kubernetes.io/component      | web, api, worker
                                         Environment         | env                              | dev, qa, staging, prod
                                         Version             | version                          | v1.0, 1.2.3, 5.7.21
                                         Version (Std)       | app.kubernetes.io/version        | "1.25.3"
                                         Part of App         | app.kubernetes.io/part-of        | ecommerce, banking-platform
                                         Management          | app.kubernetes.io/managed-by     | helm, terraform, argocd
                                         Ownership           | team                             | platform, devops, frontend
                                         Owner               | owner                            | sre-team, payments-team
                                         Release Strategy    | track                            | stable, canary, blue, green
                                         Deployment Stage    | stage                            | build, deploy, test
                                         Region              | region                           | ap-south-1, us-east-1
                                         Zone                | zone                             | az-a, az-b
                                         Customer / Tenant   | tenant                           | customerA, customerB
                                         Partition           | partition                        | region-west, region-east
                                         Resource Type       | resource-type                    | api, cronjob, worker
                                         Criticality         | criticality                      | high, medium, low
                                         Compliance          | compliance                       | pci, gdpr, hipaa
                                         Lifecycle           | lifecycle                        | experimental, stable, legacy
                                         Runtime             | runtime                          | java, nodejs, python
     
     annotations:                    # Non-selectable metadata (used to store non-identifying, descriptive, or operational information about a Kubernetes object) (Annotations are completely optional) (Keys and values are user-defined)
          owner:                     # WHEN TO USE ANNOTATIONS (If Kubernetes or a tool needs to read information but not select by it, use annotations) (Core Kubernetes resources function without annotations unless a specific tool requires them) (Used by tools (Ingress, Prometheus, Istio, etc.))
          purpose: 
                                      # COMMON & REAL-WORLD ANNOTATION KEYS
                                      Category              | Annotation Key                                 | Example Value
                                      ----------------------|-------------------------------------------------|--------------------------------------------
                                      Description           | description                                     | "NGINX frontend service"
                                      Owner / Contact       | owner                                           | "devops-team"
                                      Documentation         | documentation                                   | " https://wiki.company.com/nginx"
                                      Build Info            | build-id                                        | "build-2026-01-15"
                                      Git Commit            | git-commit                                      | "a3f5c9d"
                                      Release Notes         | release-notes                                   | "Bug fixes and performance improvements"
                                      Monitoring            | prometheus.io/scrape                            | "true"
                                      Monitoring            | prometheus.io/port                              | "9100"
                                      Ingress Controller    | nginx.ingress.kubernetes.io/rewrite-target      | "/"
                                      Ingress Controller    | nginx.ingress.kubernetes.io/ssl-redirect        | "true"
                                      Autoscaling           | autoscaling.alpha.kubernetes.io/behavior        | "scale-up-fast"
                                      Deployment Metadata   | kubectl.kubernetes.io/last-applied-configuration| "<auto-generated>"
                                      Service Mesh          | sidecar.istio.io/inject                         | "true"
                                      Logging               | fluentbit.io/parser                             | "nginx"
                                      Security              | seccomp.security.alpha.kubernetes.io/pod        | "runtime/default"
                                      Checksum / Reload     | checksum/config                                 | "d41d8cd98f00b204e980"

• spec:
      replicas:                     # Number of pod copies to run (0 or more) (it create multiple copies of same pod that run) 
      revisionHistoryLimit: 10        # How many OLD versions of your Deployment Kubernetes should remember (than this use for rollback, History or Debugging) (if we deploy new version of app and old was v1 v2 v3 and revisionHistoryLimit=2 then it remember v2 v3 and new deployment fail then we roll back to v3 by =kubectl rollout undo deployment [deployment name]
     
      strategy:                       # Deployment update strategy (How Kubernetes should update your app when you deploy a new version)
          type: RollingUpdate           # RollingUpdate(Default strategy and mainly used)= zero downtime | Recreate = all pods killed, then recreated (Only TWO Strategy Types)
          rollingUpdate:
              maxSurge: 1                 # Extra pods runs during update (number or %)
              maxUnavailable: 1           # Pods allowed to be unavailable
      
      selector:                       # Deployment manages pods matching labels (Selector is a FILTER that picks objects using labels) (This act as main selector for this file to execute, It work as recall at Template)
            matchLabels:                # Types of Selectors (matchLabels and matchExpressions)
               app: nginx               # This lable must match with template: Metadata: Labels
     OR    
            matchExpressions:
                 {key: "from metadata: labels: (key)", operator: In, values: [value of key]} (In = Label value must be in list and that will be select)
          OR   
                 {key: "from metadata: labels: (key)", operator: NotIn, values: [value of key]} (NotIn = Label value must NOT be in list and that will be select)
          OR   
                 {key: "from metadata: labels: (key)", operator: Exists, values: [value of key]} (Exists = Label key must exist and that only will be select)
           
      
      template:                       # template = blueprint (design) for Pod creation, Kubernetes uses it to create Pods again and again.(Kubernetes need Instructions on how to create Pods That instruction set is called template)
          metadata:
              labels:
                  app: nginx           # This lable must match with Spec: Selector: MatchLabels
        
      spec:                           # Actual POD configuration and POD behavior (How Pods run, Where Pods run, What containers run inside Pods)
         restartPolicy: Always       # tells Kubernetes what to do when a container inside a Pod stops or crashes. Always = Always restart container| OnFailure = Restart only if exit code ≠ 0| Never = Never restart container
                                    # (Deployments only support Always)
         
         containers:                 # Defines what runs inside the Pod
            - name: nginx-container     # Container name (Unique identifier for the container inside the Pod)
              image: nginx:latest       # Tells Kubernetes which Docker image to run  (image:tag or digest)   
              imagePullPolicy: IfNotPresent     # When Kubernetes pulls the image from registry
                                  # Always = Pull image every time Pod starts | IfNotPresent = Pull only if image not on node| Never = Never pull (image must already exist)
              
              ports:                  # Declares which ports the container get network and listen to 
                 - containerPort: 80       # Port exposed by container 
                   protocol: TCP           # TCP | UDP | SCTP

        command:                  # Overrides Docker ENTRYPOINT
        - /bin/sh
        - -c

        args:                     # Overrides Docker CMD
        - "nginx -g 'daemon off;'"

        env:                      # Environment variables
        - name: ENVIRONMENT
          value: production

        - name: CONFIG_VALUE
          valueFrom:              # Dynamic value source
            configMapKeyRef:
              name: app-config
              key: config-key

        - name: SECRET_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: password

        resources:                # Resource control (VERY IMPORTANT)
          requests:               # Minimum guaranteed
            cpu: "100m"           # 100 millicores
            memory: "128Mi"
          limits:                 # Maximum allowed
            cpu: "500m"
            memory: "256Mi"

        volumeMounts:              # Attach volume to container
        - name: config-volume
          mountPath: /etc/nginx
          readOnly: true

        livenessProbe:             # Is container alive?
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
                                  # Fail → container restarted

        readinessProbe:            # Ready to receive traffic?
          tcpSocket:
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
                                  # Fail → traffic stopped

        startupProbe:              # For slow-starting apps
          exec:
            command:
            - cat
            - /tmp/ready
          failureThreshold: 30
          periodSeconds: 10

        securityContext:           # Container security
          runAsUser: 1000
          runAsGroup: 3000
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false

      nodeSelector:                # Run on specific nodes
        disktype: ssd

      tolerations:                 # Allow tainted nodes
      - key: "env"
        operator: "Equal"          # Equal | Exists
        value: "prod"
        effect: "NoSchedule"       # NoSchedule | PreferNoSchedule | NoExecute

      affinity:                    # Advanced scheduling rules
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: disktype
                operator: In       # In | NotIn | Exists | DoesNotExist
                values:
                - ssd

      volumes:                     # Volumes available to pod
      - name: config-volume
        configMap:
          name: nginx-config
                                  # Other types:
                                  # secret | emptyDir | hostPath
                                  # persistentVolumeClaim | nfs

---
# ===============================
# SERVICE (Exposes the Pods)
# ===============================

apiVersion: v1
kind: Service

metadata:
  name: nginx-service

spec:
  type: NodePort                  # ClusterIP | NodePort | LoadBalancer | ExternalName

  selector:
    app: nginx                    # Finds pods via labels

  ports:
  - name: http
    port: 80                      # Service port
    targetPort: 80                # Container port
    nodePort: 30007               # External port (NodePort only)
    protocol: TCP
